body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(225, 227, 224);
}
.heading {
  text-align: center;
  margin-top: 4rem;
  font-size: 2.4rem;
  color: rgb(208, 43, 43);
}
.calculator {
  display: flex;
  width: 17rem;
  border-radius: 5%;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
  margin: auto;
  margin-top: 1.8rem;
  background-color: rgb(129, 204, 236);
  padding: 1.8rem 0.6rem;
}
.disp {
  height: 1.8rem;
  width: 12rem;
  text-align: right;
  margin-bottom: 0.4rem;
  /* border: 2px solid black; */
  padding: 1.3rem 0.5rem;
  font-size: 1.7rem;
  background-color: azure;
  border-radius: 5%;
  margin-bottom: 0.7rem;
}
.btns {
  grid-gap: 0.3rem;
  display: grid;
  /* display: inline-grid; */

  grid-template-columns: repeat(4, 3.1rem);
}
button {
  font-size: 1.3rem;
  border: none;
  background: rgb(228, 124, 86);
  padding: 1rem;
  text-align: center;
  border-radius: 30%;
}
button:hover {
  /* border-radius: 10%; */
  background-color: aquamarine;
}
button:active {
  transform: scale(1.1);
  background: rgb(228, 124, 86);
}
